<% include ../partials/header %>

<div class="container content">
  <div class="container outermostContainer profileContainer">
    <div class="row">
      <div class="col col-md-4 profile-info">
        <p>NAME: <span class="blank"><%= user.username %></span></p>
        <p>AGE: <span class="blank">No Idea</span></p>
        <p>OCCUPATION: <span class="blank">Nope...</span></p>
        <p>VALUABLE: <span class="blank">Yes</span></p>
        <p>PERSONALITY: <span class="blank">Not zero</span></p>
      </div>
      <div class="col col-md-8">
        <img src="<%= user.thumbnail %>" alt="Profile picture" class="profile-picture">
      </div>
    </div>
  </div>

  <div class="container created-posts">
    <h1 class="title MyPosts">My Posts</h1>
    <div class="container prof-posts">
        <% user.posts.forEach((post)=>{ %>
          <div class="row SinglePost">
            <div class="col col-md-4 profile-info">
              <img src="<%= post.image %>" class="post-image">
            </div>
            <div class="col col-md-8">
              <p><%= post.name %></p>
              <p><%= post.gist %></p>
              <a href="/anime/<%= post._id %>" class="btn btn-primary">Go to Post</a>
            </div>
          </div>
        <% }); %>
    </div>
  </div>
</div>

<% include ../partials/footer %>
